extends layouts/default

block title
  title Index
block content
  .content.navbarmargin
    .container
      | Index Page
      br
      br
      br
      h1
      | (This is an Index Page)
      br
      a(href='/contact')
        | Contact Page
      br
      a(href='/register')
        | Register Page